[package]
name = "marmite"
version = "0.1.1"
edition = "2021"
license-file = "LICENSE"
description = "MARkdown Makes sITEs is a very simple static site generator, mainly for simple blogs."
homepage = "https://rochacbruno.github.io/marmite"
repository = "https://github.com/rochacbruno/marmite"
readme = "README.md"
keywords = ["web", "blog", "static", "site", "html"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
tera = "1.12"
comrak = "0.17"
walkdir = "2.3"
chrono = { version = "0.4", features = ["serde"] }
frontmatter-gen = "0.0.2"
