[package]
name = "marmite"
version = "0.2.5"
edition = "2021"
license = "AGPL-3.0-or-later"
description = "Marmite is the easiest static site generator."
homepage = "https://rochacbruno.github.io/marmite"
repository = "https://github.com/rochacbruno/marmite"
readme = "README.md"
keywords = ["web", "blog", "static", "site", "html"]

[dependencies]
serde = { version = "1.0.218", features = ["derive"] }
serde_yaml = "0.9"
serde_json = "1.0"
hotwatch = "0.5"
tera = {version = "1.20", features = ["preserve_order"]}
comrak = { version = "0.35.0", features = ["shortcodes"] }
walkdir = "2.5"
chrono = { version = "0.4", features = ["serde"] }
frontmatter-gen = { version = "0.0.5", features=["default"] }
tiny_http = "0.12"
clap = { version = "4.5.26", features = ["derive"] }
fs_extra = "1.3"
regex = "1"
unicode-normalization = "0.1"
log = "0.4"
env_logger = "0.11.6"
url = "2.5.4"
rust-embed = { version = "8.5.0", features = ["interpolate-folder-path"] }
lazy_static = "1.5.0"
indexmap = { version = "2.7.1", features = ["serde"] }
rss = "2.0.11"
rayon = "1.10.0"

[profile.release]
codegen-units = 1
incremental = false
panic = "abort"
lto = true
opt-level = "s"
strip = true

[profile.dev]
incremental = false
