[package]
name = "marmite"
version = "0.1.4"
edition = "2021"
license = "AGPL-3.0-or-later"
description = "MARkdown Makes sITEs is a very simple static site generator, mainly for simple blogs."
homepage = "https://rochacbruno.github.io/marmite"
repository = "https://github.com/rochacbruno/marmite"
readme = "README.md"
keywords = ["web", "blog", "static", "site", "html"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
tera = "1.20"
comrak = "0.29"
walkdir = "2.5"
chrono = { version = "0.4", features = ["serde"] }
frontmatter-gen = "0.0.2"
tiny_http = "0.12"
clap = { version = "4.5.20", features = ["derive"] }
fs_extra = "1.3"
regex = "1"
unicode-normalization = "0.1"
log = "0.4"
env_logger = "0.11.5"
url = "2.5.2"
rust-embed = { version = "8.5.0", features = ["interpolate-folder-path"]}

[profile.dev]
incremental = false

