{% set groups = ['tag', 'archive', 'author', 'stream'] %}
{% for group in groups %}

##### {{group}}s

{% for name, items in group(kind=group) -%}
- [{{name}}]({{group}}-{{name | slugify}}.html)
{% endfor %}

{% endfor %}