    <link rel="alternate" type="application/rss+xml" title="index" href="{{url_for(path='index.rss')}}">
    {% for stream, _ in group(kind="stream") -%}
    {% if stream == "index" or stream == "draft" %}{% continue %}{% endif %}
    {%- set stream_slug = stream | slugify -%}
    <link rel="alternate" type="application/rss+xml" title="{{stream_display_name(stream=stream)}}" href="{{url_for(path=stream_slug ~ '.rss')}}">
    {% endfor %}
    {%- for series, _ in group(kind="series") -%}
    {%- set series_slug = series | slugify -%}
    <link rel="alternate" type="application/rss+xml" title="{{series_display_name(series=series)}}" href="{{url_for(path='series-' ~ series_slug ~ '.rss')}}">
    {% endfor %}
    {%- for tag, _ in group(kind="tag") -%}
    {%- set tag_slug = tag | slugify -%}
    <link rel="alternate" type="application/rss+xml" title="tag: {{tag}}" href="{{url_for(path='tag-' ~ tag_slug ~ '.rss')}}">
    {% endfor %}
    {%- for author, _ in group(kind="author") -%}
    {%- set author_slug = author | slugify -%}
    <link rel="alternate" type="application/rss+xml" title="author: {{author}}" href="{{url_for(path='author-' ~ author_slug ~ '.rss')}}">
    {% endfor %}
    {%- for year, _ in group(kind="archive") -%}
    <link rel="alternate" type="application/rss+xml" title="year: {{year}}" href="{{url_for(path='archive-' ~ year ~ '.rss')}}">
    {% endfor %}

    {% if site.json_feed %}
    <link rel="alternate" type="application/feed+json" title="JSON index" href="{{url_for(path='index.json')}}">
    {% for stream, _ in group(kind="stream") -%}
    {% if stream == "index" or stream == "draft" %}{% continue %}{% endif %}
    {% set stream_slug = stream | slugify %}
    <link rel="alternate" type="application/feed+json" title="JSON {{stream_display_name(stream=stream)}}" href="{{url_for(path=stream_slug ~ '.json')}}">
    {% endfor %}
    {%- for series, _ in group(kind="series") -%}
    {%- set series_slug = series | slugify -%}
    <link rel="alternate" type="application/feed+json" title="JSON {{series_display_name(series=series)}}" href="{{url_for(path='series-' ~ series_slug ~ '.json')}}">
    {% endfor %}
    {%- for tag, _ in group(kind="tag") -%}
    {%- set tag_slug = tag | slugify -%}
    <link rel="alternate" type="application/feed+json" title="JSON tag: {{tag}}" href="{{url_for(path='tag-' ~ tag_slug ~ '.json')}}">
    {% endfor %}
    {%- for author, _ in group(kind="author") -%}
    {%- set author_slug = author | slugify -%}
    <link rel="alternate" type="application/feed+json" title="JSON author: {{author}}" href="{{url_for(path='author-' ~ author_slug ~ '.json')}}">
    {% endfor %}
    {%- for year, _ in group(kind="archive") -%}
    <link rel="alternate" type="application/feed+json" title="JSON year: {{year}}" href="{{url_for(path='archive-' ~ year ~ '.json')}}">
    {% endfor %}
    {% endif %}
