{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/github-light.min.css" id="highlightjs-theme" />
{% endblock %}

{% block main %}
<article>
    <div class="content-html">{{ content.html | safe }}</div>
    {% if content.date %}
    <footer>
        <span class="content-date"> {{ content.date | date(format="%v") }}</span>
        <ul class="content-tags">
        {% for tag in content.tags  %}
            <li><a href="/tag/{{ tag }}.html">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </footer>
    {% endif %}
</article>
{% endblock %}

{% block tail %}
{{ super() }}
<script src="/static/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>
{% endblock %}
