{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for(path='/static/github-light.min.css')}}" id="highlightjs-theme" />
<script>
   const staticBase = "{{ url_for(path='static')}}";
</script>

{%if content.extra.math %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}

{% endblock %}

{% block main %}
<article>
    <div class="content-html">{{ content.html | safe }}</div>
    {% if content.date %}
    <footer>
        <span class="content-date"> {{ content.date | date(format="%v") }}</span>
        <ul class="content-tags">
        {% for tag in content.tags  %}
            <li><a href="{{url_for(path='/tag/')}}{{ tag | trim | slugify }}.html">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </footer>
    {% endif %}
</article>
{% endblock %}

{% block tail %}
{{ super() }}
<script src="{{url_for(path='/static/highlight.min.js')}}"></script>
<script>
    hljs.highlightAll();
</script>
{% endblock %}
