{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for(path='/static/github-light.min.css')}}" id="highlightjs-theme" />
<script>
   const staticBase = "{{ url_for(path='static')}}";
</script>

{%if content.extra.math %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}

{% endblock %}

{% block main %}
<article>
    <div class="content-html">{{ content.html | safe }}</div>
    {% if content.date %}
    <footer>
        <span class="content-date"> {{ content.date | date(format="%v") }}</span>
        <ul class="content-tags overflow-auto">
        {% for tag in content.tags  %}
            <li><a href="{{url_for(path='/tag/')}}{{ tag | trim | slugify }}.html">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </footer>
    {% endif %}
</article>

{% if site.extra.comments.source is defined and content.date %}
   {%include "comments.html"%}
{% endif %}

{% endblock %}

{% block tail %}
{{ super() }}
<script src="{{url_for(path='/static/highlight.min.js')}}"></script>
<script>
    hljs.highlightAll();
</script>

{%if content.extra.mermaid %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.3.0/mermaid.min.js"></script>
<script>
var config = {
    startOnLoad:true,
    theme: '{{content.extra.mermaid_theme | default(value="neutral") }}',
    flowchart:{useMaxWidth:false, htmlLabels:true}
};
mermaid.initialize(config);
window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>
{% endif %}

{% endblock %}
