{% extends "base.html" %}
{% block main %}
        <div class="list-title">
            <article><strong> {{ title }} </strong></article>
        </div>
        <article class="group-details">
            {% for name, items in group(kind=kind) -%}
            <details {%if loop.index == 1%}open{%endif%}>
                <summary role="button" class="outline contrast {{kind}}-group-title">{%if kind == "author" %}{% include "group_author_avatar.html" ignore missing%}{% endif %}{{name}} <sup>{{items | length}}</sup></summary>
                <ul>
                {% for item in items | slice(end=10) %}
                    <li><a href="./{{item.slug}}.html">{{item.title}}</a> <small>{{item.date | date(format="%Y-%m-%d") }}</small></li>
                {% endfor %}
                {% if kind == "stream" %}
                <li><a href="./{{ name | trim | slugify }}.html">more &rarr;</a></li>
                {% else %}
                <li><a href="./{{kind}}-{{ name | trim | slugify }}.html">more &rarr;</a></li>
                {% endif %}
                
            </ul>
            </details>
            {%- endfor %}
        </article>
{% endblock %}
