{% extends "base.html" %}
{% block main %}
        {%if current_page != "index.html" %}
        <div class="list-title">
            <article><strong> {{ title }} </strong></article>
        </div>
        {% endif %}
        <div class="content-list">
            {%- for content in content_list %}
            <article class="content-list-item">
                <h2 class="content-title"><a href="{{url_for(path=content.slug)}}.html">{{ content.title | capitalize }}</a></h2>
                <p class="content-excerpt">{{ content.html | striptags | truncate(length=100, end="...") }}</p>
                {% if content.date -%}
                <footer class="">
                    <span class="content-date">{{ content.date | date(format="%v") }}</span>
                    {% if content.tags -%}
                    <ul class="content-tags overflow-auto">
                        {% for tag in content.tags | slice(end=3) -%}
                            <li><a href="{{url_for(path='/tag/')}}{{ tag | trim | slugify }}.html">{{ tag }}</a></li>
                        {%- endfor %}
                    </ul>
                    {%- endif %}
                </footer>
                {%- endif %}
            </article>
            {%- endfor %}
        </div>
{% endblock %}
