/* https://picocss.com/docs */
:root {
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-font-family: "Atkinson Hyperlegible", sans-serif;
  --pico-color-grey-50: #f1f1f1;
  --pico-color-grey-700: #474747;
  --pico-color-slate-750: #333c4e;
  --pico-color-slate-800: #2a3140;
  --pico-color-slate-850: #202632;
  --pico-color-azure-650: #015887;
  --pico-border-radius: 0.5rem;
  --pico-typography-spacing-vertical: 1rem;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-tag: var(--pico-color-grey-50);
  --pico-bg-menu: #fff;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-tag: var(--pico-color-slate-850);
    --pico-bg-menu: var(--pico-color-slate-850);
  }
}

[data-theme="dark"] {
  --pico-tag: var(--pico-color-slate-850);
  --pico-bg-menu: var(--pico-color-slate-850);
}

a {
  text-decoration: none;
}

blockquote {
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.01rem;
}

/* Menu Hamburguer */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header-menu li a:hover {
  scale: 1.1;
  transition: 0.3s;
}

.hamburger {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  color: var(--pico-color-azure-650);
  position: relative;
}

#menu-toggle:focus {
  outline: none;
}

@media (max-width: 768px) {
  .header-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: var(--pico-bg-menu);
    padding: 15px;
    border-radius: 0.5rem;
    z-index: 100;
    box-shadow: 0px 4px 4px 0px #0000001F;
  }

  .header-menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

/* Tags */

.content-tags {
  display: flex;
  width: auto;
  flex-direction: row;
  margin: 0 0;
}

.content-tags li {
  padding: 8px 16px;
  border-radius: var(--pico-border-radius);
  margin: 4px 8px;
  background-color: var(--pico-tag);
  text-wrap: nowrap;
}

.content-tags li:first-child {
  margin-left: -40px;
}

.content-tags li::marker {
  content: "";
}

article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoiler,
.spoiler > * {
  transition: color 0.5s, opacity 0.5s;
}
.spoiler:not(:hover) {
  color: transparent;
  background-color: #808080;
}
.spoiler:not(:hover) > * {
  opacity: 0;
}

pre:has(> code.language-mermaid) {
  background-color: transparent;
}
